* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-weight: 800;
    font-size: 25px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3cbf9a;
    margin: 0;
}

#calculator-container {
    border: 5px solid black;
    border-radius: 25px;
    background-color: blueviolet;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

#display {
    border: 5px solid black;
    border-radius: 10px;
    background-color: grey;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-inline: 15px;
    text-align: right;
    font-size: 20px;
}

.row {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.button {
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.operator {
    background-color: green;
}

.number {
    background-color: blue;
}

#equals {
    background-color: yellow;
    justify-content: center;
    align-items: center;
}
