* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-weight: 800;
    font-size: 25px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f4ec;
    margin: 0;
}

#header-container {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #e83c91;
    font-size: 36px;
}

#calculator-container {
    border: 5px solid black;
    border-radius: 25px;
    background-color: #2b1c33;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

#display {
    border: 5px outset black;
    border-radius: 10px;
    background-color: #f8f4ec;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-inline: 15px;
    text-align: right;
    font-size: 20px;
}

.row {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.button {
    border: 3px outset rgb(60, 60, 60);
    border-radius: 10px;
    padding: 15px;
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.operator {
    background-color: #ff8fb7;
}

.number {
    background-color: #e83c91;
}

#equals {
    background-color: rgb(185, 185, 20);
    justify-content: center;
    align-items: center;
}
